Welcome to the London Events Admin Lounge. Please enjoy your stay.
<br />
<hr>
<div class="admin">
	<ul>
		<li><%= link_to "Users", admin_users_path %></li>
		<li><%= link_to "New User", new_admin_user_path %></li>
		<li><%= link_to 'New category', new_category_path %></li>
	</ul>
</div>
