<h2>Categories</h2>
<ul>
	<% @categories.each do |category| 
		category.events.each do |event| %>
		<li><%= link_to category.name, category %> Event: <%= event.title %></li>
	<% end %>
	<% end %>
</ul>
<%= admins_only do %>
	<%= link_to "New Category", new_category_path %>
<% end %>
